body{
    background-color:#0B6D8C;
    height: 100vh;
}
h1{
    font-size: 50px;
    color: #07323F;
   margin: 0;
   text-align: center;
} 
p {
    margin: 0; 
    font-size: 50px;
}
h4 {
    text-align: center;
}
.section {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;

}
.container{
    width: 100vw;

}

h2{
    font-size: 60px;
    text-align: center;
}
ul {
    text-align: left;
    font-size: 40px;
}
